name: Code checks

on:
    pull_request:
        branches:
            - main
        types:
            - opened
            - synchronize
            - reopened]
        paths:
            - "**/*.lua"

jobs:
    linting:
        name: Lint code
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Run linter check
              uses: lunarmodules/luacheck@v1

    formatting-check:
        name: Formatting check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Run formatter check
              uses: JohnnyMorganz/stylua-action@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  version: 2.0.2
                  args: --check .
